# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build / output directories
dist/
dist-ssr/
.vite/
.cache/

# Coverage
coverage/
*.lcov
.nyc_output

# Testing artifacts
cypress/videos/
cypress/screenshots/
playwright-report/
test-results/

# Environment files
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Prettier / ESLint / Stylelint
.eslintcache
.stylelintcache

# Vite / Vue
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
*.local

# Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac OS system files
.DS_Store

# JS/TS coverage / temp
lib-cov/
.nyc_output/

# Optional runtime files
pids
*.pid
*.seed
*.pid.lock

# Parcel / Snowpack / Web modules
.parcel-cache/
web_modules/
jspm_packages/

# Other frameworks (just in case)
.next/
.nuxt/
.vuepress/dist/
.temp/
.svelte-kit/
**/.vitepress/dist/
**/.vitepress/cache/
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.firebase/
.tern-port/
